@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Spline+Sans+Mono:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
   
}
body{
    background-color: #FCFCDF;
    height: 100vh;
}
/* WHATSAPP */
.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    margin-top: 13px;
   ;

}
/* HEADER con menu hamb */
.main-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faa765b5;
    padding: 0 0.4rem;
    line-height: 1.2em;
    text-shadow: 0.05em 0.1em 0 #ffedddb5;
    word-spacing: 4px;
}
.main-header img{
    height: 80%;
}
.main-logo {
    color: #444444;
    font-size: 32px;
    text-decoration: none;
    font-size: 1.3em;
}

.logo_img{
    display: flex;
    height: 20vh;
    
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.main-nav.show {
    margin-left: 0;
}

.nav-links {
    background-color: #FCFCDF;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.link-item {
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.link-item::after {
    position: absolute;
    content: "";
    background-color: #444444;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
}

.link-item:hover::after {
    width: 100%;
}

.button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
}

.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
    display: none;
}

/* MAIN INDEX*/
.index{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.fondo {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Imagenes INDEX*/
.img1 {
    background-image: url("../img/gatos_inicio.jpg");
    height: 35vh;
    margin-bottom: 0.5%; 
}
.img2 { 
    background-image: url("../img/gatos_inicio2.jpg"); 
    margin-bottom: 0.5%;
    height: 35vh;
}
.img3 { 
    background-image: url("../img/gatos_inicio3.jpg");
    margin-bottom: 0.2%; 
    height: 35vh;
 }

.fondo_text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #FCFCDF;
    font-weight: bold;
    font-size: 1rem;
    border: 0.3rem solid #ffffff6b;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85%;
    padding: 5px;
    text-align: center;
}

/* MAIN TIPS */
.main_tips{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4.4rem;
    
}

.tip1{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    align-items: center;
}
.tip1 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tip1 img{
    height: 40vh;
}

.main_tips strong{
    font-weight: bold 700;
    font-size: 1.5rem;
    font-style: italic;
}
.main_tips p{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
}
.tip2{
    display: flex;
    flex-flow: row-reverse nowrap;
    flex-direction: column;
    align-items: center;

}
.tip2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tip2 img{
    height: 45vh;
}

.tip3{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    align-items: center;
}
.tip3 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tip3 img{
    height: 45vh;

}

/* MAIN CONTACTO */

.main_contacto{
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    color: #444444;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    
}
.main_contacto h1{
    font-size: 1.3rem;
}
.main_contacto p{
    font-size: 1.1rem;
}
/* FORM */
form{
    height: 50vh;
    width: 50vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    
}

/* .instrucciones{
    display:block;
} */
textarea{
    height: 10vh;
    margin: auto;
} 

/* MAIN ADOPTA */
.main_adopta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    
}
.main_adopta h2{
    text-align: center;
}
.requisitos{
    font-family: 'PT Sans';
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    background-color:#faa76557;
    margin-top: 3%;
    flex-direction: column;
    width: 94%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1%;
    box-shadow: 0px 0px 17px 1px #9c79596e;
}
.requisitos h3{
    font-weight: 600;
    font-style: italic;
}
.requisitos li{
    list-style: disc;

}
.card{
    box-shadow:0px 0px 20px 0.2px #9c79597a;
}
.card-img-top{
    height: 71vh;
}

/* FOOTER */
footer{
    height: 10vh;
    background-color: #faa765b5;
    bottom: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    text-shadow: .1em .1em 0 #ab938199;
    
}
footer p{
    margin: 0;
}

/* SLIDER CONOCENOS */

.container-slider{
    width: 100vw;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 80vh;
}
.slider{
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
    position: relative;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;

}
.slider__btn--left{
    left: 10px;

}
.slider__btn--right{
    right: 10px;
    
}
/* texto sobre las img */
.contenido{
    box-sizing: border-box;
    text-align: justify;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%; 
    padding: 20px; 
    height: 40%;
    font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
    .button-menu {
        display: none;
    }

    .main-logo {
        flex-basis: 45%;
    }

    .main-nav {
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
        background-color: white;
    }

    .nav-links {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        background: #faa765bd;
    }

    .link-item {
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;

    }
    .fondo_text{
        font-size: 2rem;
    }
    .main_tips strong {
        font-size: 2rem;
    }

    .main_tips p {
        font-size: 1.25rem;
    }

    .tip1 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .tip2 {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
    }

    .tip3 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .main_contacto h1 {
        font-size: 2rem;
    }
    .main_contacto p {
        font-size: 1.4rem;
    }
    .requisitos li{
        font-size: 1.4rem;
    }
    .requisitos h3{
        font-size: 1.9rem;
    }
    .contenido{
        font-size: 1.5rem;
    }
   
}
@media screen and (min-width: 1024px){
    .link-item{
        font-size: 1.7rem;
    }
    .main-logo{
        font-size: 2rem;
    }
    .contenido {
        font-size: 2rem;
    }
    .main_tips p {
        font-size: 1.7rem;
    }
    .main_tips strong {
        font-size: 2.25rem;
    }

    button {
        font-size: 1.33rem;
    }
    .formText{
        height: 5vh;
    }
}
